body,html{
    height: 100%;
    display: grid;
    place-items: center;
}
.container{
    background-color:black;
    width: 400px;
    height: 30px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius:10px ;
}
.Btn{
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin: auto;
    font-size: 15px;
}